body{
    margin: 0;
    padding: 0;
    background-image: url("./images/background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}
#topHead{
    width: 100%;
    background-image: url("./images/bannerbg.png");
    text-align: center;
    height: 50px;
}
h1{
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
}
#content{
    width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    grid-template-areas: 
    'header film' 
    'footer footer';
}
#head{
    color: red;
    font-size: 48pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-image: url(./images/rbg.png);
    border-radius: 15px 0 0 0 ;
}
#head img{
    border-radius: 15px 0 0 0 ;
}
#film{
    grid-area: film;
    width: 250px;
    border-radius:0 15px 0 0 ;
    background-color: #A2B964;
}
#turtle img{
    border-radius:0 15px 0 0 ;
}
#leftThings{
    grid-area: header;
    width: 550px;
}
#page{
    grid-area: footer;
    background-color: #A2B964;
    text-align: center;
    border-radius: 0 0 16px 16px ;
}
#columns {
    padding: 8px;
    column-count: 2;
    column-gap: 6%;
    column-span: all;
}
.comment{
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    font-size: 8pt;
    min-height: 30px;
    margin-top: 0;

}
.comment img {
    margin-right: 5px;
}
dl{
    padding: 5px;
}
.bold{
    font-weight: bold;
    padding: 10px;
}
.reviewer{
    height: 50px;
    margin-bottom: 20pt;
    font-style: italic;
}
.reviewer img{
    float: left;
    
}
#validators {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}