body {
	background: linear-gradient(to left, blueviolet  , deepskyblue);
}
h1{
	font-size: 5em;
	font-family: 'Roboto Serif', sans-serif;
}
h2{
	font-size: 2em;
	font-family: 'Roboto Serif', sans-serif;
	color: #09015E;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	font-family: Arial, 'Roboto Serif', sans-serif;
  font-size: 1.2em;
}
p:first-letter {
	font-size: 3em;
}
#se {
	font-weight: bold;
}

#happy, #sad {
	font-size: 1.8em;
}
li{
	font-size: 1.2em;
	font-family: Arial, Times, sans-serif;
}
img {
	height: 300px;
}
.logo {
	height: 15px;
}
.validation {
	text-decoration: none;
}
li a {
	color: #70021E;
}
ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}
dt {
	color: #874D00;
}

