body {
	background: linear-gradient(to left, blueviolet  , deepskyblue);
	font-family: 'Roboto Serif', sans-serif;
}
h1{
	font-size: 5em;
	font-family: 'Roboto Serif', sans-serif;
}
h2{
	font-size: 2em;
	font-family: 'Roboto Serif', sans-serif;
}

p {
  font-size: 1.5em;
}
#happy, #sad {
	font-size: 1.8em;
}
li{
	font-size: 1.2em;
}
img {
	height: 300px;
}
em {
	font-weight: bold;
}
.logo {
	height: 15px;
}
.validation {
	text-decoration: none;
}
li a {
	color: #70021E;
}